MISTRAL_API_KEY = "your api key here"
LANGCHAIN_TRACING_V2= "true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your api key here"
LANGCHAIN_PROJECT='Finance Overdue Agent'
EMAIL_PROVIDER= "dry_run | sendgrid | mailgun"
DRY_RUN_LOG_PATH = "logs/email_dry_run.jsonl"